header.header
	.container
		.header__top
			.header__logo
				.logo
					img.logo__img(src="app/img/general/logo.png")
					h1.logo__text Государственная общественная организация "Верное Решение"
			.header__phone
				.phone
					+icon('phone')
					a.phone__link(href="tel:88005505898") 8 (800) 550-58-98
					span.phone__descr Звонок бесплатный по РФ
		.header__body
			h2.header__title Бесплатно вернем страховку по кредиту за 15 дней до 300 000 рублей!
			span.header__subtitle Помогаем удаленно по всей России!
			.header__order
				button.g-btn.header__btn Подать заявку
				p.header__text Заполните бесплатный сервис всего за 10 минут не выходя из дома и верните свои деньги
