section.mission
	.container
		.mission__wrap
			.mission__left
				h2.mission__title Наша миссия
				p.mission__text Мы хотим сделать отношения между банками и потребителями справедливыми и вернуть людям малую часть того, что банки взяли незаконно - 
					br
					strong 1 миллиард рублей 
					| навязанных страховок и комиссий по кредитам. 
				p.mission__text Поэтому мы взялись за одну из глобальных проблем нашей страны, решение которой принесет огромную пользу людям. 
				p.mission__lider Ведущий юрист государственной 
					br 
					| общественной огранизации Нестеров Илья
			.mission__right