// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

// header
@import 'section/header.styl'

// footer
@import 'section/footer.styl'

// number
@import 'section/number.styl'

// mission
@import 'section/mission.styl'

// partners
@import 'section/partners.styl'


// Компоненты
@import "common/common.styl"