@font-face 
	font-family "UbuntuRegular"
	src url("../fonts/Ubuntu-R.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuBold"
	src url("../fonts/Ubuntu-B.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuLight"
	src url("../fonts/Ubuntu-L.ttf") format("truetype");
	font-style normal
	font-weight normal