// ЦВЕТА
mainColor   = #414141
accentColor = #043083
grayColor   = #A6A6A6
bgColor     = #f6f6f6

// РАЗМЕРЫ


// ШРИФТЫ

mainFont  = 'UbuntuRegular', Arial, sans-serif
boldFont  = 'UbuntuBold', Arial, sans-serif
lightFont = 'UbuntuLight', Arial, sans-serif