// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"
/* Конец блока buttons */

/* Cтили блока logo */
@import "logo.styl"
/* Конец блока logo */

/* Cтили блока phone */
@import "phone.styl"
/* Конец блока phone */