.header
	padding 40px 50px
	background url(../img/general/bg-eagl.png) right top no-repeat
	background-size contain
	margin-bottom 80px

.header__top
	display flex
	justify-content space-between
	margin-bottom 55px

.header__body
	@extend .content-ml
	width 100%
	max-width 585px

.header__title
	width 100%
	max-width 485px
	font-size 36px
	line-height 41px
	margin-bottom 20px
	font-family boldFont 

.header__subtitle 
	font-size 18px
	margin-bottom 25px
	display block

.header__order
	display flex
	align-items center

.header__btn
	margin-right 20px
	flex none

.header__text
	font-size rem(14)
	width 275px