.mission__wrap
	@extend .content-ml
	display flex
	justify-content space-between

.mission__left
	padding 120px 0 180px
	width 100%
	max-width 501px
	
.mission__right
	flex: 1
	background-image url(../img/content/mission/man.png), url(../img/general/earl.png)
	background-repeat no-repeat, no-repeat
	background-size 100%, 110%

.mission__img
	margin 0 auto
	display block

.mission__title
	font-size 36px
	font-family boldFont
	margin-bottom 40px 

.mission__text
	font-size 18px
	margin-bottom 50px
	padding-right 50px
	&:last-child
		margin-bottom 0

.mission__lider
	background url(../img/content/mission/author.png) 80% bottom no-repeat
	padding-bottom 60px