.number
	margin-bottom 60px

.number__list
	display flex
	@extend .content-ml

.number__item
	margin-right 15px
	background bgColor
	color greyColor
	border-radius 5px
	padding 20px 15px
	width 167px
	&:last-child
		margin-right 0

.number__title
	display block
	font-family boldFont
	font-size 24px
	line-height 1

.number__text
	font-size 13px
	line-height 1
	display block 