.partners
	background bgColor
	padding 45px 0
	color grayColor
	margin-bottom 100px

.partners__wrap
	display flex
	align-items center
	justify-content space-between

.partners__title
	font-size 14px
	flex none

.partners__item 
	display flex
	align-items center
	width 200px
	&:last-child
		margin-right 0

.partners__img
	margin-right 15px

.partners__text
	display block
	font-size 10px